<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Login page</h1>
<p th:if="${loginError}" class="error">Wrong user or password</p>
<form th:action="@{/login.html}" method="post">
    <div>
        <label for="username">Username</label>:
        <input type="text" id="username" name="username" autofocus="autofocus"/>
    </div>
    <div>
        <label for="password">Password</label>:
        <input type="password" id="password" name="password"/>
    </div>
    <input type="submit" value="Log in"/>
</form>
</body>
</html>